@model JapaneseLearnSystem.Models.SubscriptionPlan

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SubscriptionPlan</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlanName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlanName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FeeInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FeeInfo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyQuestionLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyQuestionLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LearnedWordLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LearnedWordLimit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FavoriteLimit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FavoriteLimit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlanID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
