@model IEnumerable<JapaneseLearnSystem.Models.SubscriptionPlan>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PlanName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FeeInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyQuestionLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LearnedWordLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PlanName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FeeInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DailyQuestionLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LearnedWordLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NoteLimit)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PlanID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PlanID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PlanID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
