@model IEnumerable<JapaneseLearnSystem.Models.NoteViewModel>

@{
    ViewData["Title"] = "筆記區";
}

<h1>筆記區</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(m => m.Title)</th>
            <th>@Html.DisplayNameFor(m => m.OriginalArticle)</th>
            <th>@Html.DisplayNameFor(m => m.Reading)</th>
            <th>@Html.DisplayNameFor(m => m.Translate)</th>
            <th>@Html.DisplayNameFor(m => m.JLPTLevelName)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.OriginalArticle</td>
                <td>@item.Reading</td>
                <td>@item.Translate</td>
                <td>@item.JLPTLevelName</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.NoteID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.NoteID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoteID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
